<div class="d-flex flex-column flex-column-fluid">
    <div class="content fs-6 d-flex flex-column-fluid">
        <div class="container">
            <div class="row g-0 g-xl-5 g-xxl-8">
                <div class="col-xl-4"> 
                      <div class="card card-stretch mb-5 mb-xxl-8">
                          <!--begin::Body-->
                          <div class="card-body pb-0">
                              <!--begin::Wrapper-->
                              <div class="d-flex flex-column h-100">
                                  <!--begin::Text-->
                                  <h3 class="text-dark text-center fs-1 fw-bolder pt-15 lh-lg">Article/Blog
                                  <br>Dashboard</h3>
                                  <!--end::Text-->
                                  <!--begin::Action-->
                                   
                                 <img src="https://preview.keenthemes.com/start/assets/media/illustrations/terms-2.png" height="200px" alt="">
                                  
                              </div>
                              <!--end::Wrapper-->
                          </div>
                          <!--end::Body--> 
                    </div>
                </div>



                <div class="col-xl-8">
                  <!--begin::Table Widget 1-->
                 <article-panel></article-panel>
              </div>
            </div>
        </div>
    </div> 
</div>